<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <meta name="renderer" content="webkit" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <title>用户列表</title>
    <link rel="stylesheet" href="/plugins/layui/css/layui.css" />
    <link rel="stylesheet" href="/css/public.css" />
</head>
<body class="child-body">

<div class="child-nav">
    <span class="layui-breadcrumb">
         <a>系统设置</a>
         <a><cite>用户列表</cite></a>
    </span>
    <a class="layui-btn layui-btn-sm" href="javascript:location.replace(location.href);" title="刷新" style="float:right;margin-top: 3px">
    	<i class="layui-icon" style="line-height:30px">&#x1002;</i>
    </a>
</div>

<div class="layui-row">
    <form class="layui-form" >
        <div class="layui-form-item">
            <div class="layui-inline">
                <wsm:permission value="admin:user:add">
                    <a href="/admin/user/detail" type="button" class="layui-btn layui-btn-sm"><i class="layui-icon">&#xe608;</i>新增</a>
                </wsm:permission>
            </div>
        </div>
    </form>
</div>

<table class="layui-table" id="userPage" lay-filter="userPage">
	<thead>
	    <tr>
            <th lay-data="{field:'id', sort: true}">Id</th>
	        <th lay-data="{field:'userName', sort: true}">用户名</th>
	        <th lay-data="{field:'realName', sort: true}">真实姓名</th>
	        <th lay-data="{field:'status', sort: true}">状态</th>
	        <th lay-data="{field:'createTime', sort: true}">创建时间</th>
	        <th lay-data="{field:'updateTime', sort: true}">更新时间</th>
	        <th lay-data="{field:'opt', fixed: 'right', align:'center', width:300}">操作</th>
	    </tr>
    </thead>
	<tbody>
	    <tr th:each="user:${users}">
            <td th:text="${user.id}"></td>
	        <td th:text="${user.userName}"></td>
	        <td th:text="${user.realName}"></td>
	        <td th:text="${#strings.equals(user.status,'0')?'激活':'禁用'}"></td>
	        <td th:text="${#dates.format(user.createTime, 'yyyy-MM-dd HH:mm:ss')}"></td>
	        <td th:text="${#dates.format(user.updateTime, 'yyyy-MM-dd HH:mm:ss')}"></td>
	        <td>
                <wsm:permission value="admin:user:edit">
                    <a class="layui-btn layui-btn-xs" lay-event="detail"><i class="layui-icon">&#xe642;</i>编辑</a>
                </wsm:permission>
                <wsm:permission value="admin:user:resetPass">
                    <a class="layui-btn layui-btn-xs" lay-event="resetPass"><i class="layui-icon">&#xe673;</i>重置密码</a>
                </wsm:permission>
                <wsm:permission value="admin:user:remove">
                    <a class="layui-btn layui-btn-xs layui-btn-danger" lay-event="delete"><i class="layui-icon">&#xe640;</i>删除</a>
                </wsm:permission>
	        </td>
	    </tr>
    </tbody>
</table>
<div id="pag"></div>
<script src="/plugins/layui/layui.js"></script>
<script th:inline="javascript">
    /*<![CDATA[*/
    var pageable = [[${users}]];
    /*]]>*/

    layui.use(['element', 'laypage', 'layer', 'table', 'laydate'], function(){
        var $ = layui.jquery;
        var table = layui.table, laypage = layui.laypage;

        table.init('userPage', {limit: pageable.size});

        laypage.render({
            elem: 'pag',
            count: pageable.totalElements,
            groups:10,
            limit: pageable.size,
            curr:pageable.number + 1,
            layout:['prev', 'page', 'next','skip','count','limit'],
            jump: function(obj,first){
                if(!first){
                    window.location.href = "/admin/user/list?page=" + obj.curr + "&limit=" + obj.limit;
                }
            }
        });

        table.on('tool(userPage)', function(obj){
            if(obj.event === 'detail'){
                location.href="/admin/user/detail?userId=" + obj.data.id;
            } else if(obj.event === 'delete'){
                layer.msg('确定要删除该数据吗？', {
                    time: 0,
                    shade: [0.5,'#fff'],
                    btn: ['确定', '取消'],
                    yes: function(index) {
                        $.ajax({
                            url:'/admin/user/remove',
                            type:'POST',
                            data:{userId: obj.data.id},
                            dataType:'json',
                            success:function(data){
                                if(data.code == 0){
                                    layer.msg(data.msg, {icon: 1,time:1000}, function () {
                                        location.reload();
                                    });
                                }else{
                                    layer.msg(data.msg,{time:1000});
                                }
                            }
                        });
                    }
                });

            } else if(obj.event === 'resetPass'){
                layer.msg('重置后密码为：123456', {
                    time: 0,
                    shade: [0.5,'#fff'],
                    btn: ['确定', '取消'],
                    yes: function(index) {
                        $.ajax({
                            url:'/admin/user/resetPass',
                            type:'POST',
                            data:{userId: obj.data.id},
                            dataType:'json',
                            success:function(data){
                                if(data.code == 0){
                                    layer.msg(data.msg, {icon: 1,time:1000}, function () {});
                                }else{
                                    layer.msg(data.msg,{time:1000});
                                }
                            }
                        });
                    }
                });

            }
        });


    });

</script>
</body>
</html>